output/

notes.txt

trash/

appstore_backend/bundled_apps/

icons/

meeting_minutes/

notes/

apps_disabled/

*.sh
conf.json*

# auto created when running on desktop:
internal_filesystem/SDLPointer_2

# config files etc:
internal_filesystem/data
